In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler
import numpy as np
from sklearn.linear_model import RidgeCV,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [2]:
data=df=pd.read_csv("C:\\Users\\Yacou\\Desktop\\Yacouba_New\\climte\\Data\\Rendements\\okay\\mil_mais.csv")

In [3]:
col=data.columns
col

Index(['provinces', 'year', 'Tmin_ERA5', 'ERA5_Pressure', 'ERA5_Tmax',
       'ERA5_soil_moisture', 'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp', 'NDVI', 'Tamsat_Prec', 'chirps_Prec', 'CDD', 'CWD',
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx', 'Nino', 'AMM',
       'AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'sahel_rainfal',
       'tna', 'tsa', 'mais', 'mil'],
      dtype='object')

In [4]:
c0=['provinces']
c1=['year', 'Tmin_ERA5', 'ERA5_Pressure',
        'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp',  'Tamsat_Prec', 'chirps_Prec', 'CDD', 'CWD',
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx', 'Nino','sahel_rainfal','qbo' ]
c2=['NDVI','ERA5_soil_moisture','AMM',
       'AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst',
       'tna', 'tsa']
d2=data[c2]
d3=data[ 'mil']
d4=data['mais']

In [5]:
d1=data[c1]
X = pd.DataFrame(StandardScaler().fit_transform(d1))
d1=X.rename(columns={0:'year', 1:'Tmin_ERA5', 2:'ERA5_Pressure',
        3:'ERA5_wins', 4:'ARC2_year', 5:'Best_Temp_Max',
       6:'Best_Temp', 7:'Tamsat_Prec', 8:'chirps_Prec', 9:'CDD', 10:'CWD',
       11:'PRCPTOT', 12:'R10mm', 13:'R1mm', 14:'R20mm', 15:'R5mm', 16:'R95pTOT', 17:'R99pTOT',
       18:'RX1day', 19:'RX5day', 20:'SDII', 21:'TNn', 22:'TXn', 23:'TNx', 24:'TXx', 25:'Nino',26:'sahel_rainfal',27:'qbo'})

In [11]:
dt=pd.concat([data[c0],d1,d2,d3,d4],axis=1)
dt

,provinces,year,Tmin_ERA5,ERA5_Pressure,ERA5_wins,ARC2_year,Best_Temp_Max,Best_Temp,Tamsat_Prec,chirps_Prec,...,AO,EA,NAO,NTA,PDO,gmsst,tna,tsa,mil,mais
0,Bale,-1.638356,-1.087528,-0.370056,-0.454051,-0.190868,-0.354215,-1.166262,-0.469743,-0.092878,...,0.425333,-0.110000,0.540000,-0.206667,-0.046667,0.626667,-0.076667,0.286667,960.581652,1459.049128
1,Banwa,-1.638356,-1.207182,-0.380800,-0.414125,0.305342,-0.683454,-1.383374,-0.251991,-0.343494,...,0.425333,-0.110000,0.540000,-0.206667,-0.046667,0.626667,-0.076667,0.286667,1029.044240,1308.239124
2,Bale,-1.445608,-0.847959,0.735889,-0.260182,-0.274032,-0.520714,-0.981679,0.584017,0.343589,...,0.447667,0.456667,-0.003333,-0.010000,-0.360000,0.663333,0.116667,0.403333,979.593220,1750.949650
3,Kossi,-1.638356,-0.292140,-1.180025,-0.512948,-0.664539,0.003042,-0.601474,-0.644021,-0.941824,...,0.425333,-0.110000,0.540000,-0.206667,-0.046667,0.626667,-0.076667,0.286667,550.000000,535.000000
4,Bale,-1.252861,-0.048313,0.262063,-0.027426,-0.554506,0.033129,-0.072216,0.563520,-0.261517,...,0.574000,0.106667,0.560000,-0.120000,-0.433333,0.773333,-0.113333,0.376667,850.526316,1578.408370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,Zondoma,1.445608,0.607924,0.064498,-0.419878,0.571828,0.216633,0.790537,0.029485,0.012239,...,-0.258333,-1.446667,-0.180000,0.296667,2.333333,1.206667,0.363333,0.473333,638.142700,793.429896
806,Yatenga,1.638356,0.958150,-0.454895,0.110027,0.110653,0.938027,1.485328,-1.084946,-0.577379,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,658.394064,813.503311
807,Ziro,1.638356,-0.542672,1.001500,-0.306143,0.552101,-0.638153,-0.300305,0.147152,0.378733,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,706.659920,1237.511702
808,Zoundweogo,1.638356,-0.063794,0.788359,-0.175251,0.851918,-0.609218,-0.215582,-0.003973,-0.001632,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,1019.297740,1768.268712
809,Zondoma,1.638356,0.483643,-0.059994,-0.390351,0.011487,0.551938,0.990830,-0.674718,-0.452504,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,574.007230,956.272299

In [61]:
#var = pd.get_dummies(df[c0],drop_first=True)

In [62]:
#dt0=pd.concat([var,d1,d2],axis=1)
#y=data['mil']

In [30]:
drivers=['year','AMM','AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'tna', 'tsa','Nino','sahel_rainfal']

indices=['year', 'CDD', 'CWD','PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx']

meteo= ['year', 'Tmin_ERA5', 'ERA5_Pressure',
        'ERA5_wins', 'ARC2_year', 'Best_Temp_Max','Best_Temp','Tamsat_Prec', 'chirps_Prec', 'NDVI','ERA5_soil_moisture' ]

ind_driver=['year', 'CDD', 'CWD','PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx',
            'AMM','AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'tna', 'tsa','Nino','sahel_rainfal']

ind_meteo=['year', 'CDD', 'CWD','PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx','Tmin_ERA5', 'ERA5_Pressure',
        'ERA5_wins', 'ARC2_year', 'Best_Temp_Max','Best_Temp','Tamsat_Prec', 'chirps_Prec', 'NDVI','ERA5_soil_moisture' ]

meteo_driver=['year', 'Tmin_ERA5', 'ERA5_Pressure','ERA5_wins', 'ARC2_year', 'Best_Temp_Max','Best_Temp','Tamsat_Prec',
              'chirps_Prec', 'NDVI','ERA5_soil_moisture', 
              'AMM','AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'tna', 'tsa','Nino','sahel_rainfal']

c0=['provinces']

In [31]:
def model(df,n,predicteur,var):
    pred=df[predicteur]
    y=df[var]
    dum = pd.get_dummies(df[c0],drop_first=True)
    X=pd.concat([dum,pred],axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=n) 

    model1 = RidgeCV()
    model2 = Lasso(normalize=True, tol=1e-3)
    model3 = RandomForestRegressor(n_estimators = 2000,max_depth=82)
    model4 = DecisionTreeRegressor(max_depth=80) 

    model1.fit(X_train, y_train)
    model2.fit(X_train, y_train)
    model3.fit(X_train, y_train)
    model4.fit(X_train, y_train)

    train_RidgeCV=model1.score(X_train, y_train)
    test_RidgeCV=model1.score(X_test, y_test)

    train_LassoCV=model2.score(X_train, y_train)
    test_LassoCV=model2.score(X_test, y_test)

    train_RandomForest=model3.score(X_train, y_train)
    test_RandomForest=model3.score(X_test, y_test)

    train_DecisionTree=model4.score(X_train, y_train)
    test_DecisionTree=model4.score(X_test, y_test)


    data = {'model': ['RandomForest', 'DecisionTree', 'RidgeCV', 'Lasso'],
        'Score_train': [train_RandomForest, train_DecisionTree, train_RidgeCV, train_LassoCV],
        'score_test': [test_RandomForest, test_DecisionTree, test_RidgeCV, test_LassoCV]
        }

   # data = {'model': ['RandomForest', 'DecisionTree'],
     #   'Score_train': [train_RandomForest, train_DecisionTree],
     #   'score_test': [test_RandomForest, test_DecisionTree]
     #   }

    d = pd.DataFrame(data)
    return d

In [32]:
model(dt,3,meteo,'mais')

          model  Score_train  score_test
0  RandomForest     0.943075    0.520647
1  DecisionTree     1.000000    0.309173
2       RidgeCV     0.613659    0.518746
3         Lasso     0.585440    0.497418

In [33]:
model(dt,3,meteo,'mil')

          model  Score_train  score_test
0  RandomForest     0.891493    0.193560
1  DecisionTree     1.000000   -0.498899
2       RidgeCV     0.282057    0.201978
3         Lasso     0.137142    0.082689

In [34]:
model(dt,3,drivers,'mais')

          model  Score_train  score_test
0  RandomForest     0.934977    0.510858
1  DecisionTree     1.000000    0.361998
2       RidgeCV     0.675848    0.617313
3         Lasso     0.535000    0.432138

In [35]:
model(dt,3,drivers,'mil')

          model  Score_train  score_test
0  RandomForest     0.876952    0.099001
1  DecisionTree     1.000000   -0.563897
2       RidgeCV     0.360506    0.289183
3         Lasso     0.122687    0.059496

In [36]:
model(dt,3,indices,'mais')

          model  Score_train  score_test
0  RandomForest     0.933351    0.477665
1  DecisionTree     1.000000    0.117762
2       RidgeCV     0.647864    0.528918
3         Lasso     0.556080    0.440060

In [37]:
model(dt,3,indices,'mil')

          model  Score_train  score_test
0  RandomForest     0.888598    0.168078
1  DecisionTree     1.000000   -0.600387
2       RidgeCV     0.344799    0.244768
3         Lasso     0.159561    0.117733

In [38]:
model(dt,3,ind_driver,'mais')

          model  Score_train  score_test
0  RandomForest     0.935559    0.515713
1  DecisionTree     1.000000    0.112141
2       RidgeCV     0.699297    0.602342
3         Lasso     0.576842    0.475901

In [39]:
model(dt,3,ind_driver,'mil')

          model  Score_train  score_test
0  RandomForest     0.893583    0.242450
1  DecisionTree     1.000000   -0.478132
2       RidgeCV     0.418620    0.333129
3         Lasso     0.172409    0.141877

In [40]:
model(dt,3,ind_meteo,'mais')

          model  Score_train  score_test
0  RandomForest     0.941897    0.500282
1  DecisionTree     1.000000    0.112608
2       RidgeCV     0.633115    0.527700
3         Lasso     0.589910    0.491729

In [41]:
model(dt,3,ind_meteo,'mil')

          model  Score_train  score_test
0  RandomForest     0.889695    0.178594
1  DecisionTree     1.000000   -0.428050
2       RidgeCV     0.323599    0.240520
3         Lasso     0.162283    0.114580

In [42]:
model(dt,3,meteo_driver,'mais')

          model  Score_train  score_test
0  RandomForest     0.945843    0.542858
1  DecisionTree     1.000000    0.340155
2       RidgeCV     0.643675    0.550408
3         Lasso     0.601573    0.516978

In [43]:
model(dt,3,meteo_driver,'mil')

          model  Score_train  score_test
0  RandomForest     0.897239    0.253919
1  DecisionTree     1.000000   -0.366977
2       RidgeCV     0.350762    0.285353
3         Lasso     0.153495    0.103146