In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, StandardScaler, MinMaxScaler
from sklearn.linear_model import RidgeCV,Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [2]:
data=df=pd.read_csv("C:\\Users\\Yacou\\Desktop\\Yacouba_New\\climte\\Data\\Rendements\\okay\\sorgho.csv")

In [3]:
data

,provinces,year,Tmin_ERA5,ERA5_Pressure,ERA5_Tmax,ERA5_soil_moisture,ERA5_wins,ARC2_year,Best_Temp_Max,Best_Temp,...,NAO,NTA,PDO,gmsst,qbo,sahel_rainfal,tna,tsa,sorgho_b,sorgho_r
0,Bale,2003,295.584328,101230.9542,303.000166,0.391510,2.166261,1003.442320,32.618614,21.432137,...,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,1021.127660,1112.857143
1,Banwa,2003,295.431019,101233.7360,302.988727,0.342940,2.125180,1034.890135,32.335017,21.273757,...,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,1151.428571,1200.000000
2,Bale,2004,295.670144,101217.1807,303.432141,0.362601,2.198682,836.071675,32.983422,21.249552,...,0.250000,0.150000,0.496667,0.640000,11.726667,1.333333,0.300000,-0.153333,991.825622,537.710646
3,Kossi,2003,296.051885,101192.5439,304.064816,0.314432,2.105461,931.704089,32.671085,21.807773,...,-0.013333,0.020000,0.916667,0.736667,-13.300000,63.666667,0.093333,0.296667,1083.181818,1072.000000
4,Bale,2005,295.843265,101228.7215,303.463810,0.362435,2.395109,762.853984,33.115778,21.381346,...,-0.440000,0.726667,1.353333,0.810000,-14.106667,61.666667,0.913333,-0.010000,1197.731728,1299.509391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,Zondoma,2016,296.632578,101190.4650,305.163821,0.200586,2.307139,882.803056,33.657614,22.672844,...,-0.180000,0.296667,2.333333,1.206667,2.290000,64.666667,0.363333,0.473333,1220.941596,0.000000
671,Yatenga,2017,296.898290,101159.1897,305.863082,0.173094,2.463822,816.631204,34.291164,23.323867,...,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,876.456672,0.000000
672,Ziro,2017,295.759636,101246.8867,303.227227,0.316436,2.340768,879.972562,32.906914,21.650720,...,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,1099.775418,994.785113
673,Zoundweogo,2017,296.122954,101234.0524,303.601853,0.339022,2.379471,922.991941,32.932326,21.730105,...,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,1028.100880,1470.652386
674,Zondoma,2017,296.538288,101182.9687,305.027763,0.204287,2.315869,802.402198,33.952089,22.860520,...,0.123333,0.463333,0.930000,1.093333,6.236667,184.666667,0.550000,0.480000,652.545180,0.000000

In [4]:
col=data.columns
col

Index(['provinces', 'year', 'Tmin_ERA5', 'ERA5_Pressure', 'ERA5_Tmax',
       'ERA5_soil_moisture', 'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp', 'NDVI', 'Tamsat_Prec', 'chirps_Prec', 'CDD', 'CWD',
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx', 'Nino', 'AMM',
       'AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'sahel_rainfal',
       'tna', 'tsa', 'sorgho_b', 'sorgho_r'],
      dtype='object')

In [5]:
c0=['provinces']
c1=['year', 'Tmin_ERA5', 'ERA5_Pressure',
        'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp',  'Tamsat_Prec', 'chirps_Prec', 'CDD', 'CWD',
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx', 'Nino','sahel_rainfal','qbo' ]
c2=['NDVI','ERA5_soil_moisture','AMM',
       'AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst',
       'tna', 'tsa']
d2=data[c2]
d3=data[ 'sorgho_b']
d4=data['sorgho_r']

In [6]:
d1=data[c1]
X = pd.DataFrame(StandardScaler().fit_transform(d1))
d1=X.rename(columns={0:'year', 1:'Tmin_ERA5', 2:'ERA5_Pressure',
        3:'ERA5_wins', 4:'ARC2_year', 5:'Best_Temp_Max',
       6:'Best_Temp', 7:'Tamsat_Prec', 8:'chirps_Prec', 9:'CDD', 10:'CWD',
       11:'PRCPTOT', 12:'R10mm', 13:'R1mm', 14:'R20mm', 15:'R5mm', 16:'R95pTOT', 17:'R99pTOT',
       18:'RX1day', 19:'RX5day', 20:'SDII', 21:'TNn', 22:'TXn', 23:'TNx', 24:'TXx', 25:'Nino',26:'sahel_rainfal',27:'qbo'})

In [7]:
dt=pd.concat([data[c0],d1,d2,d3,d4],axis=1)
dt

,provinces,year,Tmin_ERA5,ERA5_Pressure,ERA5_wins,ARC2_year,Best_Temp_Max,Best_Temp,Tamsat_Prec,chirps_Prec,...,AO,EA,NAO,NTA,PDO,gmsst,tna,tsa,sorgho_b,sorgho_r
0,Bale,-1.620185,-0.809319,0.694413,-0.855037,1.299718,-0.938507,-0.556599,0.403114,1.045235,...,0.245667,0.416667,-0.013333,0.020000,0.916667,0.736667,0.093333,0.296667,1021.127660,1112.857143
1,Banwa,-1.620185,-1.016662,0.741478,-0.995650,1.528163,-1.267631,-0.728230,0.288261,0.941182,...,0.245667,0.416667,-0.013333,0.020000,0.916667,0.736667,0.093333,0.296667,1151.428571,1200.000000
2,Bale,-1.388730,-0.693257,0.461382,-0.744068,0.083892,-0.515137,-0.754461,0.261979,-0.592442,...,-0.246333,0.240000,0.250000,0.150000,0.496667,0.640000,0.300000,-0.153333,991.825622,537.710646
3,Kossi,-1.620185,-0.176970,0.044557,-1.063146,0.778592,-0.877613,-0.149534,-0.306307,0.393767,...,0.245667,0.416667,-0.013333,0.020000,0.916667,0.736667,0.093333,0.296667,1083.181818,1072.000000
4,Bale,-1.157275,-0.459118,0.656638,-0.071737,-0.447982,-0.361534,-0.611640,0.775121,-0.121578,...,-0.397333,-0.320000,-0.440000,0.726667,1.353333,0.810000,0.913333,-0.010000,1197.731728,1299.509391
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,Zondoma,1.388730,0.608388,0.009384,-0.372841,0.423361,0.267283,0.787915,-0.041794,-0.071168,...,-0.258333,-1.446667,-0.180000,0.296667,2.333333,1.206667,0.363333,0.473333,1220.941596,0.000000
671,Yatenga,1.620185,0.967751,-0.519756,0.163456,-0.057329,1.002537,1.493408,-1.164900,-0.666033,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,876.456672,0.000000
672,Ziro,1.620185,-0.572223,0.963972,-0.257734,0.402800,-0.603927,-0.319729,0.076789,0.298587,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,1099.775418,994.785113
673,Zoundweogo,1.620185,-0.080853,0.746831,-0.125264,0.715304,-0.574435,-0.233701,-0.075513,-0.085163,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,1028.100880,1470.652386
674,Zondoma,1.620185,0.480866,-0.117444,-0.342959,-0.160693,0.609029,0.991293,-0.751479,-0.540047,...,-0.139000,0.843333,0.123333,0.463333,0.930000,1.093333,0.550000,0.480000,652.545180,0.000000

In [25]:
drivers=['year','AMM','AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'tna', 'tsa','Nino','sahel_rainfal']

indices=['year', 'CDD', 'CWD','PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx']

meteo= ['year', 'Tmin_ERA5', 'ERA5_Pressure',
        'ERA5_wins', 'ARC2_year', 'Best_Temp_Max','Best_Temp','Tamsat_Prec', 'chirps_Prec', 'NDVI','ERA5_soil_moisture' ]

ind_driver=['year', 'CDD', 'CWD','PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx',
            'AMM','AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'tna', 'tsa','Nino','sahel_rainfal']

ind_meteo=['year', 'CDD', 'CWD','PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx','Tmin_ERA5', 'ERA5_Pressure',
        'ERA5_wins', 'ARC2_year', 'Best_Temp_Max','Best_Temp','Tamsat_Prec', 'chirps_Prec', 'NDVI','ERA5_soil_moisture' ]

meteo_driver=['year', 'Tmin_ERA5', 'ERA5_Pressure','ERA5_wins', 'ARC2_year', 'Best_Temp_Max','Best_Temp','Tamsat_Prec',
              'chirps_Prec', 'NDVI','ERA5_soil_moisture', 
              'AMM','AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'tna', 'tsa','Nino','sahel_rainfal']

All=['year', 'Tmin_ERA5', 'ERA5_Pressure', 
       'ERA5_soil_moisture', 'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp', 'NDVI', 'Tamsat_Prec', 'chirps_Prec', 'CDD', 'CWD',
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm', 'R95pTOT', 'R99pTOT',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx', 'Nino', 'AMM',
       'AMO', 'AO', 'EA', 'NAO', 'NTA', 'PDO', 'gmsst', 'qbo', 'sahel_rainfal',
       'tna', 'tsa']

c0=['provinces']

In [9]:
def model(df,n,predicteur,var):
    pred=df[predicteur]
    y=df[var]
    dum = pd.get_dummies(df[c0],drop_first=True)
    X=pd.concat([dum,pred],axis=1)
    X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2,random_state=n) 

    model1 = RidgeCV()
    model2 = Lasso(normalize=True, tol=1e-3)
    model3 = RandomForestRegressor(n_estimators = 2000,max_depth=82)
    model4 = DecisionTreeRegressor(max_depth=80) 

    model1.fit(X_train, y_train)
    model2.fit(X_train, y_train)
    model3.fit(X_train, y_train)
    model4.fit(X_train, y_train)

    train_RidgeCV=model1.score(X_train, y_train)
    test_RidgeCV=model1.score(X_test, y_test)

    train_LassoCV=model2.score(X_train, y_train)
    test_LassoCV=model2.score(X_test, y_test)

    train_RandomForest=model3.score(X_train, y_train)
    test_RandomForest=model3.score(X_test, y_test)

    train_DecisionTree=model4.score(X_train, y_train)
    test_DecisionTree=model4.score(X_test, y_test)


    data = {'model': ['RandomForest', 'DecisionTree', 'RidgeCV', 'Lasso'],
        'Score_train': [train_RandomForest, train_DecisionTree, train_RidgeCV, train_LassoCV],
        'score_test': [test_RandomForest, test_DecisionTree, test_RidgeCV, test_LassoCV]
        }

   # data = {'model': ['RandomForest', 'DecisionTree'],
     #   'Score_train': [train_RandomForest, train_DecisionTree],
     #   'score_test': [test_RandomForest, test_DecisionTree]
     #   }

    d = pd.DataFrame(data)
    return d

In [10]:
model(dt,3,meteo,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.910866    0.273785
1  DecisionTree     1.000000   -0.915055
2       RidgeCV     0.415124    0.156818
3         Lasso     0.294608    0.207216

In [11]:
model(dt,3,meteo,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.933207    0.513279
1  DecisionTree     1.000000    0.261438
2       RidgeCV     0.622643    0.524446
3         Lasso     0.538243    0.456190

In [12]:
model(dt,3,drivers,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.890379    0.219112
1  DecisionTree     1.000000   -0.809048
2       RidgeCV     0.435336    0.232749
3         Lasso     0.247730    0.158409

In [13]:
model(dt,3,drivers,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.918093    0.482244
1  DecisionTree     1.000000    0.158083
2       RidgeCV     0.621836    0.560935
3         Lasso     0.535603    0.472642

In [14]:
model(dt,3,indices,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.909481    0.230142
1  DecisionTree     1.000000   -0.527222
2       RidgeCV     0.374094    0.164110
3         Lasso     0.296201    0.220946

In [15]:
model(dt,3,indices,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.929076    0.467158
1  DecisionTree     1.000000    0.129466
2       RidgeCV     0.607993    0.521194
3         Lasso     0.535778    0.452277

In [16]:
model(dt,3,ind_driver,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.913189    0.249428
1  DecisionTree     1.000000   -0.506273
2       RidgeCV     0.469350    0.181581
3         Lasso     0.301312    0.229271

In [17]:
model(dt,3,ind_driver,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.929884    0.447885
1  DecisionTree     1.000000    0.011488
2       RidgeCV     0.633661    0.544424
3         Lasso     0.541124    0.450892

In [18]:
model(dt,3,ind_meteo,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.910606    0.276636
1  DecisionTree     1.000000   -1.098572
2       RidgeCV     0.455238    0.125952
3         Lasso     0.305446    0.227253

In [19]:
model(dt,3,ind_meteo,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.932657    0.495120
1  DecisionTree     1.000000   -0.013782
2       RidgeCV     0.623357    0.519941
3         Lasso     0.541404    0.457041

In [20]:
model(dt,3,meteo_driver,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.911080    0.300897
1  DecisionTree     1.000000   -0.314160
2       RidgeCV     0.465802    0.217428
3         Lasso     0.299349    0.220709

In [21]:
model(dt,3,meteo_driver,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.932312    0.489593
1  DecisionTree     1.000000    0.195886
2       RidgeCV     0.630231    0.527205
3         Lasso     0.540353    0.458255

In [27]:
model(dt,3,All,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.930753    0.473648
1  DecisionTree     1.000000    0.148789
2       RidgeCV     0.637233    0.536123
3         Lasso     0.541456    0.456940

In [26]:
model(dt,3,All,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.916724    0.289741
1  DecisionTree     1.000000   -0.446954
2       RidgeCV     0.491830    0.158549
3         Lasso     0.307552    0.233731

### correlation between yield and variables

In [38]:
a=pd.DataFrame(pd.DataFrame(dt.corr()).iloc[:,40:42]) 
a

                    sorgho_b  sorgho_r
year               -0.066324  0.025619
Tmin_ERA5          -0.377815 -0.521589
ERA5_Pressure       0.368850  0.518115
ERA5_wins          -0.296336 -0.429415
ARC2_year           0.342457  0.479348
Best_Temp_Max      -0.407814 -0.590203
Best_Temp          -0.404220 -0.594187
Tamsat_Prec         0.368139  0.576149
chirps_Prec         0.394962  0.564282
CDD                -0.098364 -0.118657
CWD                 0.102410  0.114921
PRCPTOT             0.335426  0.473860
R10mm               0.306495  0.439924
R1mm                0.302783  0.337616
R20mm               0.228008  0.354663
R5mm                0.348266  0.386224
R95pTOT             0.070057  0.181092
R99pTOT             0.004925  0.084753
RX1day              0.157656  0.320178
RX5day              0.145593  0.285452
SDII                0.241357  0.387880
TNn                -0.358936 -0.525757
TXn                -0.280576 -0.448690
TNx                -0.406076 -0.609573
TXx                -0.353476 -0.562934
Nino                0.052087  0.023873
sahel_rainfal      -0.010636  0.029044
qbo                -0.012255 -0.027886
NDVI               -0.023555  0.087648
ERA5_soil_moisture  0.355805  0.625863
AMM                 0.036686 -0.002921
AMO                 0.047909  0.041615
AO                 -0.001441  0.010266
EA                 -0.141872 -0.079198
NAO                -0.016971 -0.040305
NTA                 0.032314  0.024805
PDO                 0.073963  0.041463
gmsst              -0.060791  0.022994
tna                 0.033630  0.018611
tsa                -0.077939  0.021493
sorgho_b            1.000000  0.440787
sorgho_r            0.440787  1.000000

In [41]:
All_1=['Tmin_ERA5', 'ERA5_Pressure', 
       'ERA5_soil_moisture', 'ERA5_wins', 'ARC2_year', 'Best_Temp_Max',
       'Best_Temp',  'Tamsat_Prec', 'chirps_Prec', 
       'PRCPTOT', 'R10mm', 'R1mm', 'R20mm', 'R5mm',
       'RX1day', 'RX5day', 'SDII', 'TNn', 'TXn', 'TNx', 'TXx']

In [43]:
len(All_1)

21

In [44]:
model(dt,3,All_1,'sorgho_r')

          model  Score_train  score_test
0  RandomForest     0.931637    0.496032
1  DecisionTree     1.000000    0.156217
2       RidgeCV     0.621250    0.520278
3         Lasso     0.541449    0.456932

In [45]:
model(dt,3,All_1,'sorgho_b')

          model  Score_train  score_test
0  RandomForest     0.910141    0.266593
1  DecisionTree     1.000000   -0.883215
2       RidgeCV     0.448761    0.137020
3         Lasso     0.305444    0.227424